<a href="https://colab.research.google.com/github/GabrielYamaya/Tratamento-de-dados-simples/blob/main/Exemplo_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Teste de extração

In [1]:
import pandas as pd

# Extração de dados da filial 1 (CSV)
vendas_filial1 = pd.read_csv('vendas_filial1.csv')

# Extração de dados da filial 2 (Excel)
vendas_filial2 = pd.read_excel('vendas_filial2.xlsx')

# Visualização dos dados da filial 1
print("Dados da filial 1: ")
print(vendas_filial1.head())

# Visualização dos dados da filial 2
print("Dados da filial 2: ")
print(vendas_filial2.head())

Dados da filial 1:
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário
0          1500.0
1          1000.0
2           600.0
3           200.0
4            80.0
Dados da filial 2:
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário
0           250.0
1           180.0
2           900.0
3           300.0
4           120.0

Teste de transformação

In [2]:
import pandas as pd

# Extração de dados da filial 1 (CSV)
vendas_filial1 = pd.read_csv('vendas_filial1.csv')

# Extração de dados da filial 2 (Excel)
vendas_filial2 = pd.read_excel('vendas_filial2.xlsx')

# Transformações dos dados para adicionar e calcular a coluna total de vendas
vendas_filial1['valor total'] = vendas_filial1['Quantidade Vendida'] * vendas_filial1['Preço Unitário']
vendas_filial2['valor total'] = vendas_filial2['Quantidade Vendida'] * vendas_filial2['Preço Unitário']

# Visualização dos dados da filial 1
print("Dados da filial 1: ")
print(vendas_filial1.head())

# Visualização dos dados da filial 2
print("Dados da filial 2: ")
print(vendas_filial2.head())

Dados da filial 1:
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário  valor total
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0
Dados da filial 2:
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  valor total
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0

Teste de carregamento

In [3]:
# Carregamento
vendas_filial1.to_csv('vendas_filial1_transformados.csv', index = False)
vendas_filial2.to_csv('vendas_filial2_transformados.csv', index = False)

# Apresentar os dados carregados dos arquivos .CSV
vendas_filial1 = pd.read_csv('vendas_filial1_transformados.csv')
vendas_filial2 = pd.read_csv('vendas_filial2_transformados.csv')

# Visualização dos dados da filial 1
print("Dados da filial 1: ")
print(vendas_filial1.head())

# Visualização dos dados da filial 2
print("Dados da filial 2: ")
print(vendas_filial2.head())

Dados da filial 1:
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário  valor total
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0
Dados da filial 2:
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  valor total
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0